<html>

<head>
  <title>Centrifugo quick start</title>
</head>

<body>
<div id="counter">-</div>
<script src="https://unpkg.com/centrifuge@5.4.0/dist/centrifuge.js"></script>
<script type="text/javascript">
  const container = document.getElementById('counter');

  const centrifuge = new Centrifuge("ws://localhost:8000/connection/websocket", {
    token: "eyJhbGciOiJIUzI1NiJ9.eyJyb2xlcyI6WyJVU0VSIl0sImNoYW5uZWxzIjpbImNoYW5uZWwiXSwic3ViIjoibCIsImlhdCI6MTc2MDAxODM5MSwiZXhwIjoxNzYwMDU0MzkxfQ.tb_4l6jCliNWkzRuyIOG1lHwS3CYVrnmgURrVGazD7M"
  });

  centrifuge.on('connecting', function (ctx) {
    console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
  }).on('connected', function (ctx) {
    console.log(`connected over ${ctx.transport}`);
  }).on('disconnected', function (ctx) {
    console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
  }).connect();

  const sub = centrifuge.newSubscription("channel");

  sub.on('publication', function (ctx) {
    console.log('publication', ctx.data);
    container.innerHTML = ctx.data.text;
    document.title = ctx.data.text;
  }).on('subscribing', function (ctx) {
    console.log(`subscribing: ${ctx.code}, ${ctx.reason}`);
  }).on('subscribed', function (ctx) {
    console.log('subscribed', ctx);
  }).on('unsubscribed', function (ctx) {
    console.log(`unsubscribed: ${ctx.code}, ${ctx.reason}`);
  }).subscribe();
</script>
</body>

</html>